       Flask
       Jinja2 
       MarkupSafe 
       Werkzeug 
       certifi 
       click 
       cycler 
       gunicorn 
       itsdangerous
       joblib 
       kiwisolver
       matplotlib 
       numpy 
       pandas 
       pillow 
       pyparsing 
       python-dateutil 
       pytz
       scikit-learn>=0.22.2.post1
       scipy 
       six
       threadpoolctl
       flask_material
